html, body, .content {    
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */   
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    height: 100%;
    background-color: #000;
    font-family: 'Source Code Pro', monospace;,    
}

.content {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;p
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;    
    
}

#link-container {
    position: relative;
}

h1 {
    font-size: 2.4rem;
    padding-bottom: 7rem;
    color: #9000ff;
    position: fixed;
}

.links {
    color: #fff;
    text-decoration: none;
}

#gh {
    padding-right: 1rem;
}

#dc {

}
